<context id="mainContext" class="foodsimulationmodel.environment.ContextManager">
	<context id="AgentContext">
		<projection type="geography" id="AgentGeography"></projection></context>
	<context id="RoadContext">
		<projection type="geography" id="RoadGeography"></projection></context>
	<context id="JunctionContext">
		<projection type="geography" id="JunctionGeography"></projection>
		<projection type="network" id="RoadNetwork"></projection></context>
	
	<projection type="geography" id="MainGeography"></projection>

</context>
